@import url(http://fonts.googleapis.com/css?family=Abel|Mandali);
@import url(http://weloveiconfonts.com/api/?family=entypo);
* {
  font-family: 'Mandali',sans-serif;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel','sans-serif'; }

p, pre, small {
  line-height: 25px; }

q {
  font-style: italic;
  font-variant: small-caps; }

p > a {
  color: #FF0060; }

.container {
  background-color: #141414;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.backcanvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0; }

x-menu::shadow #viewport {
  height: 100vh;
  position: absolute;
  width: 20vw;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center; }
  x-menu::shadow #viewport:hover #sidebar.hidden {
    left: 0px; }

x-menu::shadow #sidebar.hidden {
  left: -20vw; }
  x-menu::shadow #sidebar.hidden button {
    color: white; }
    x-menu::shadow #sidebar.hidden button:after {
      content: "";
      width: 50px;
      height: 50px;
      background-color: black;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      border-radius: 30px; }

x-menu::shadow button {
  font-family: 'entypo', sans-serif;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid;
  background-color: transparent;
  font-size: 25px;
  transition: all 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; }
  x-menu::shadow button:focus {
    outline: none; }
  x-menu::shadow button:before {
    content: "\e70a";
    z-index: 1; }
  x-menu::shadow button:after {
    content: "";
    width: 0px;
    height: 0px;
    background-color: black;
    position: absolute;
    z-index: 0;
    transition: all ease 0.4s;
    top: 25px;
    left: 25px;
    border-radius: 30px; }

x-menu::shadow #sidebar {
  width: 70px;
  position: relative;
  transition: left cubic-bezier(0.24, -0.22, 0.01, 1.13) 1s;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border-radius: 3px;
  box-shadow: #2B2A2A 0px 0px 12px; }

x-menu::shadow #content-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px; }

x-menu::shadow hr {
  width: 100%; }

x-menu button {
  font-family: 'entypo', sans-serif;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  font-size: 25px;
  transition: all 0.5s;
  position: relative; }
  x-menu button:focus {
    outline: none; }

x-flyout {
  position: absolute;
  overflow: hidden;
  background-color: #EFEFEF;
  color: black;
  box-shadow: black 0px 0px 10px;
  left: 90px;
  top: 0px;
  border-radius: 10px;
  animation: entry cubic-bezier(0.63, -0.15, 0.19, 0.93) 2s; }

x-flyout.hidden {
  display: none; }

x-flyout h1 {
  font-size: 1em;
  text-align: left;
  border: 1px solid gray;
  padding-right: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  width: 300px;
  padding-left: 16px;
  padding-bottom: 10px;
  margin-top: 10px; }

x-flyout * {
  padding-left: 16px;
  font-size: 14px;
  text-align: left; }

@keyframes entry {
  0% {
    color: transparent;
    border-radius: 30px;
    padding: 0px;
    top: 16px;
    left: 35px;
    max-width: 1px;
    max-height: 1px;
    background-color: rgba(255, 255, 255, 0.54); }
  10% {
    max-width: 50px;
    max-height: 50px;
    top: 0px;
    left: 0px; }
  40% {
    max-width: 50px;
    max-height: 50px;
    background-color: white; }
  49% {
    color: transparent; }
  50% {
    left: 90px;
    max-width: 30vw;
    max-height: 50px; }
  100% {
    top: 0px;
    max-height: 100vh;
    border-radius: 10px; } }

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #292929;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row; }
