x-flyout{
	position: absolute;
	overflow: hidden;
	background-color: white ;
    
    color: black;
    box-shadow: rgba(43, 42, 42, 0.36) 0px 0px 12px;
	left: 90px;
	top: 0px;
	   
		border-radius: 3px;
	animation: entry cubic-bezier(0.63, -0.15, 0.19, 0.93) 1s; ;
}

x-flyout.hidden{
	display: none;

}

x-flyout{
	h1 {
	font-size: 1em;
	text-align: left;
    
    border: 1px solid gray;
    padding-right: 40px;
    border-left: none;
    border-top: none;
    border-right: none;
	
	width: 300px;
    padding-left: 16px;
    padding-bottom: 10px;
	margin-top: 10px;
	}
	
	*{
		padding-left: 16px;
		font-size: 14px;
		text-align: left;
	}
	
		
}


@keyframes entry{
		0%{
			//Point

			color: transparent;
			border-radius: 30px;
			padding: 0px;
			top: 16px;
    		left: 35px;
			max-width: 1px;	
			max-height: 1px;
			background-color: rgba(255,255, 255,0.54);
		}
	    10%{	
			//Max Ball
			max-width: 50px;
    		max-height: 50px;
		    top: 0px;
		    left: 0px;
			
		}
		40%{ 
			max-width: 50px;
    		max-height: 50px;
			background-color: white;
			
			
			}
		49%{  color: transparent;}
		50%{
			
			left: 90px;
			max-width: 30vw;
			max-height: 50px;
			
			
			
			
		}
	100%{
			top: 0px;
			max-height: 100vh;
			border-radius: 3px;
		
	}
	
	
}