@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,700);
// font-family: 'Mandali', sans-serif;
// font-family: 'Abel', sans-serif;
*{
	font-family: 'Roboto',sans-serif;
	color: black;
}



p, pre, small{
	line-height: 25px;
}

q{
	font-style: italic;
    font-variant: small-caps;
}

p > a{
	color: $color-accent;
}