@import 'variables';
@import 'typo';
@import 'boxing';
@import 'menu';
@import 'flyout';
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
} 




body{
    margin: 0px;
    padding: 0px;
	background-color: $color-l2;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
}




