<template id="pen-template">
    <style>
        .root{
            display: flex;
            flex-direction:column;
        }
        
        #inputHolder{
            display: flex;
            flex-direction:column;
            margin: 10px;
        }
        
        #newPen{
            display: flex;
            flex-wrap: wrap;
        }
        
        #Sample{
            width: 130px;
            display: flex;
            flex-direction: column;   
        }
        #Sample canvas {
            width: 100px;
            height: 100px;
            margin: 15px;
        }
        #Sample div{
            display: flex;
        }
        #Sample div *{
            margin: 5px;
            max-width: 60px;
        }
        
        
        #recent{
            
        border-top: gray 1px solid;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        }
        
        #recent canvas{
            width: 50px;
            height: 50px;
            margin: 10px;
        }
        
        #controls{
            padding: 10px;
        }
        
        
    </style>
    <div class="root">
        <div id="newPen">
            <div id="inputHolder">
                <small>Größe</small>
                <input min="1" max="40" type="range" />
                <small>Rot</small>
                <input type="range"  min="0" max="255" value="0"/>
                <small>Grün</small>
                <input type="range"  min="0" max="255" value="0"/>
                <small>Blau</small>
                <input type="range" min="0" max="255"  value="0"/>
            </div>
            <div id="Sample">
                <canvas width="100" height="100"></canvas>
                <div>
                    <small>Farbe</small>
                    <input type="text" />
                </div>
                <div>
                    <small>Spezial</small>
                    <input type="checkbox" />
                </div>
            </div>
            <div id="recent">
                <canvas width="100" height="100" data="0"></canvas>
                <canvas width="100" height="100" data="1"></canvas>
                <canvas width="100" height="100" data="2"></canvas>
                <canvas width="100" height="100" data="3"></canvas>
            </div>
        </div>
        <div id="controls">

            <input type="button" value="Sichern" />
        </div>
    </div>
</template>
<script src="PenEditor/PenEditor.js"></script>