<!--Draw Template-->


<template id="draw-template">
    <canvas></canvas>
    <content></content>
</template>


<script src="DrawComponent/DrawComponent.js"></script>
<!-- Menu Component -Sebastian Streich

Erstellt eine Appbar an der Linken Seite die Buttons als Inhalt aufnimmt. 
Besitzt einen Button zum Verstecken des Menus wenn nicht gebraucht
-->

<template id="menu-template">
   <style>
           .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }
     
   </style>
  	<div id="viewport">
          <div id='sidebar' class="">
            <div id='content-holder'>                
                    <content>
          
                    </content>
                    <hr></hr>  
            
              <button id='toggle-view'type="button">
                <i class="material-icons">visibility</i>
                <i class="material-icons">visibility_off</i>
              </button> 
            </div>
          </div>
  	</div>
</template>

<script src="Menubar/menubar.js"></script>


<!-- Network Component - Sebastian Streich 
Abstraktion des SocketManagers in eine HTML Component 



-->
<script src="NetworkHandler/Networkhandler.js"></script>

<script src="NetworkHandler/Room.js"></script>
<!--  Flyout Component -Sebastian Streich

Bindet sich auf das Klick-Event des Parents und zeigt dann sein inneres HTML,
verschwindet wieder sobald ein anderes Element berührt wird.
-->




<template id="flyout-template">
  <div id='scaffholder'>
    <content></content>
  </div>
</template>
<script src="Flyout/flyout.js"></script>