<!--Draw Template-->


<template id="draw-template">
    <canvas></canvas>
    <content></content>
</template>


<script src="DrawComponent/DrawComponent.js"></script>
<!-- Menu Component -Sebastian Streich

Erstellt eine Appbar an der Linken Seite die Buttons als Inhalt aufnimmt. 
Besitzt einen Button zum Verstecken des Menus wenn nicht gebraucht
-->

<template id="menu-template">
   <style>
           .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }
     
   </style>
  	<div id="viewport">
          <div id='sidebar' class="">
            <div id='content-holder'>                
                    <content>
          
                    </content>
                    <hr></hr>  
            
              <button id='toggle-view'type="button">
                <i class="material-icons">visibility</i>
                <i class="material-icons">visibility_off</i>
              </button> 
            </div>
          </div>
  	</div>
</template>

<script src="Menubar/menubar.js"></script>


<!-- Network Component - Sebastian Streich 
Abstraktion des SocketManagers in eine HTML Component 



-->
<script src="NetworkHandler/Networkhandler.js"></script>

<script src="NetworkHandler/Room.js"></script>
<!--  Flyout Component -Sebastian Streich

Bindet sich auf das Klick-Event des Parents und zeigt dann sein inneres HTML,
verschwindet wieder sobald ein anderes Element berührt wird.
-->




<template id="flyout-template">
  <div id='scaffholder'>
    <content></content>
  </div>
</template>
<script src="Flyout/flyout.js"></script>
<template id="pen-template">
    <style>
        .root{
            display: flex;
            flex-direction:column;
        }
        
        #inputHolder{
            display: flex;
            flex-direction:column;
            margin: 10px;
        }
        
        #newPen{
            display: flex;
            flex-wrap: wrap;
        }
        
        #Sample{
            width: 130px;
            display: flex;
            flex-direction: column;   
        }
        #Sample canvas {
            width: 100px;
            height: 100px;
            margin: 15px;
        }
        #Sample div{
            display: flex;
        }
        #Sample div *{
            margin: 5px;
            max-width: 60px;
        }
        
        
        #recent{
            
        border-top: gray 1px solid;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        }
        
        #recent canvas{
            width: 50px;
            height: 50px;
            margin: 10px;
        }
        
        #controls{
            padding: 10px;
        }
        
        
    </style>
    <div class="root">
        <div id="newPen">
            <div id="inputHolder">
                <small>Größe</small>
                <input min="1" max="40" type="range" />
                <small>Rot</small>
                <input type="range"  min="0" max="255" value="0"/>
                <small>Grün</small>
                <input type="range"  min="0" max="255" value="0"/>
                <small>Blau</small>
                <input type="range" min="0" max="255"  value="0"/>
            </div>
            <div id="Sample">
                <canvas width="100" height="100"></canvas>
                <div>
                    <small>Farbe</small>
                    <input type="text" />
                </div>
                <div>
                    <small>Spezial</small>
                    <input type="checkbox" />
                </div>
            </div>
            <div id="recent">
                <canvas width="100" height="100" data="0"></canvas>
                <canvas width="100" height="100" data="1"></canvas>
                <canvas width="100" height="100" data="2"></canvas>
                <canvas width="100" height="100" data="3"></canvas>
            </div>
        </div>
        <div id="controls">

            <input type="button" value="Sichern" />
        </div>
    </div>
</template>
<script src="PenEditor/PenEditor.js"></script>