<!-- Menu Component -Sebastian Streich

Erstellt eine Appbar an der Linken Seite die Buttons als Inhalt aufnimmt. 
Besitzt einen Button zum Verstecken des Menus wenn nicht gebraucht
-->

<template id="menu-template">
  	<div id="viewport">
          <div id='sidebar' class="">
            <div id='content-holder'>                
                    <content>
          
                    </content>
                    <hr></hr>  
            
              <button id='toggle-view'type="button" class='entypo-eye'></button> 
            </div>
          </div>
  	</div>
</template>

<script src="Menubar/menubar.js"></script>

